<form class="row-fluid">
	<div class="span-9">
		<input type="text" data-ng-model="searchIssues" placeholder="Filter Issues">
	</div>
	<button class="btn btn-success" ng-click="get_issues()">Go</button>
</form>

<div class="row-fluid">
  <div class="span12">
  	<h3>Main Section</h3>
    <p ng-show="user.login==key.substr(0,key.indexOf('%2F'))">Only owner can create new tags? <input ng-model="repos[key].options.locked" type="checkbox"></p>
  	<table class="table table-hover">
      <thead>
        <tr>
          <th>#ID</th>
          <th>Title</th>
          <th>Opened By</th>
          <th>Time</th>
          <th>Description</th>
          <th>Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="issue in issues | filter:searchIssues">
          <td>{{issue.id}}</td>
          <td><a href="{{issue.html_url}}" title="{{issue.title}}">{{issue.title}}</a></td>
          <td>{{issue.user.login}}</td>
          <td>{{issue.updated_at}}</td>
          <td><button class="btn">View Issue</button></td>
          <td><input ng-init="issue.public_tags=repos" ui-keypress="{enter:'save(issue)'}" type="text" ng-model="issue.public_tags" ng-list></td>
        </tr>
       
      </tbody>
    </table>

  </div>
</div>


<pre>
	{{issues | json}}
	
</pre>